
#container {
    width:98%;
    display: inline-block;
    text-align:center;
    font-family: Arial;
}

#head-top {
    padding:10px 5px;
}

#head-top nav{
    background-color:#e6e6e6;
    border:2px solid black;
    margin-top:10px;
    padding:10px;
}

#left-section{
    width:25%;
    height:735px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    float:left;"
}

#left-section header, #left-section footer{
    margin-top:10px;
    margin-outside:10px;
    padding:10px;
}

#left-section nav{
    height:33%;
    margin-top:10px;
    padding-top:100%;

}

body {
    background-color:#808080;
    padding:10px;
    border:2px solid black;
}
header {
    background-color:#d9d9d9;
    border:2px solid black;
}
section {
    background-color:#bfbfbf;
    border:2px solid black;
}
article {
    background-color:#e6e6e6;
    border:2px solid black;
    margin-top:10px;
}
footer {
    background-color:#d9d9d9;
    margin:10px;
    padding:10px;
    border:2px solid black;
}
p {
    background-color:#ffffff;
    border:2px solid black;
}
aside {
    background-color:#ffffff;
    border:2px solid black;
}