
#container {
    width:100%;
    display: inline-block;
    text-align:center;
    font-family: Arial;
}

#head-top {
    padding:10px 5px;
}

#head-top nav{
    background-color:#e6e6e6;
    border:1px solid black;
    margin-top:10px;
    padding:10px;
}

#left-section{
    width:25%;
    height:735px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    float:left;"
}

#left-section header, #left-section footer{
    margin-top:10px;
    margin-outside:10px;
    padding:10px;
}

#left-section nav{
    height:80%;
    border:1px solid black;
    margin-top:10px;
}

#right-section{
    width:70%;
    height:735px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    float:right;
}

#right-section header, #right-section article, #right-section footer{
    margin-top:10px;
    padding:10px;
}

#right-section article p, #right-section article aside{
    margin-top:10px;
    padding:10px;
}

#article-bot p{
    height:125px;
    float:left;
    width:60%;
}

#article-bot aside{
    height:125px;
    float:right;
    width:30%;
}

body {
    background-color:#808080;
    padding:10px;
    border:1px solid black;
}
header {
    background-color:#d9d9d9;
    border:1px solid black;
}
section {
    background-color:#bfbfbf;
    border:1px solid black;
}
article {
    background-color:#e6e6e6;
    border:1px solid black;
    margin-top:10px;
}
footer {
    background-color:#d9d9d9;
    padding:10px;
    border:1px solid black;
}
p {
    background-color:#ffffff;
    border:1px solid black;
}
aside {
    background-color:#ffffff;
    border:1px solid black;
}